<form id="createNew" method="post" action="/admin/create">
  <input id="newSurvey" type="text" name="new-survey" placeholder="Name you survey"required>
  <button id="createSurvey" type="submit">Create New Survey</button>
</form>