<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head', { title : "Survey" ) %>

<body>
  <header>
    <div id="staticBlackHeader">
      <div></div>
      <img src="https://images.ctfassets.net/qjy3jg1udcmq/1MN5F84EVi0SaAieSkqY6S/46d632aa1811432f9c0a92600a1a5ee6/cf-logo-horizontal-2-color-white.png">
    </div>
    <div id="redHeader">
      <div>
        <h1>Technology Exposure and Perspective Survey</h1>
        <h2>Survey Forms</h2>
      </div>
    </div>
  </header>

  <main>
    <div id="mainSurveyArea">
      <div>
        <h2 class="surveyWelcome">Thank you for taking the time to complete this survey and discuss everyone's various access levels to technology.</h2>
      </div>
      <div id="surveybody">
      
        <iframe title="Survey" src="<%= surveyURL %>"></iframe>

      <div id=afterSurvey>
      </div>
    </div>
  </main>

  <footer>
      <%- include( 'footer.ejs' ) %>
  </footer>
</body>
</html>