<!DOCTYPE html>
<html>

<head>
  <%- include( '../layout/head.ejs' ) %>
  <title>Technology Survey Historical Results</title>
</head>

<body>
  <%- include( '../layout/header.ejs' ) %>

  <%- include( '../partials/forms_listing', { forms : forms } ) %>

  <%- include('../partials/createsurvey' ) %>
</body>

</html>