<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Fellows Perspective Survey</title>
  <link rel="stylesheet" href="styles/reset.css" />
  <link rel="stylesheet" href="styles/base.css" />
  <link rel="stylesheet" href="styles/layout.css" />
  <link rel="stylesheet" href="styles/modules.css" />
  </head>
  <body>
    <main>
      <div>
        <h2>Our sincerest apologies...</h2>
        <h1>An Error Has Occurred</h1>
      </div>
    </main>
  </body>
</html>


