<section id='navlinks'><a class='navlinks' href="/">Admin</a>
  <a id='navlinks' href="/survey">Survey</a>
  <a id='navlinks' href="/graph">Results</a>
  <a id='navlinks' href="/history">History</a>
  <a id='navlinks' href="">Composite</a>
  <a id='navlinks' href="">About</a></section>
  <p>Created by Team Blue Java (Kevin McNeil, Paul Leonard, Spencer Lazzar, Dominique Augurson) for Codefellows</p>
  
  <!-- <p>developed by<a href="https://github.com/Blue-Java">Team Blue Java</a>at<a href="https://www.codefellows.org/">Code Fellows</a> -->
  
  
  