<!DOCTYPE html>
<html lang="en">

<head>
  <title>Technology Survey Results</title>
  <%- include( '../layout/head' ) %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
</head>

<body class="graphbody">
  <%- include( '../layout/header' ) %>
  <main id="graphbody">
    <div class="container">
      <canvas id="myChart" width="800px" height="400px" color="red"></canvas>
    </div>
  </main>
  <%- include( '../partials/renderGraph', { surveyResults, surveyResults } ) %>
  <form id="adminRoute" method="get" action="/">
    <button  type="submit">Admin Page</button>
  </form>
</body>

</html>
