<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/reset.css" />
    <!-- <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/layout.css" /> -->
    <link rel="stylesheet" href="styles/modules.css" />
    <link rel="stylesheet" href="styles/homepagecheat.css" />
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@800&display=swap" rel="stylesheet">
    <title>Technology Survey Admin Page</title>
  </head>
  <body id="adminPage">
    <header>
      <%- include( '../layout/header.ejs' ) %>
      <div id="redHeader">
        <div>
          <h1>Technology Exposure and Perspective Survey</h1>
          <h2>Survey Session Administrator Page</h2>
        </div>
      </div>
    </header>
    <main>
      <h3>A survey in 4 easy steps...</h3>
      <div id="allSteps">
        <div class="allRows">
          <div id="rowOne" class="stepRow">
            <div class="stepBox">
              <p>Step</p>
              <p class="stepNumber">1</p>
            </div>
            <div class="instructionBox">
              <p>Copy the link below and share it with all of the partipants. Instruct them to begin the survey.</p>
              <div id="surveyLinkContainer">
                <a href="https://blue-java-perspective-survey.herokuapp.com/survey">https://blue-java-perspective-survey.herokuapp.com/survey</a>
              </div>
            </div>  
          </div>
          <div id="rowTwo" class="stepRow">
            <div class="stepBox">
              <p>Step</p>
              <p class="stepNumber">2</p>
            </div>
            <div class="instructionBox">
              <p>Enter the survey session name you would like to use.  Typically, this will be the class number in the format of "seattle-301d66".</p>
              <form name="defineSessionNameForm" method="post" action="/defineSession">
                <input id="text" name="sessionName" type="text"/>
                <div id="gap">
                </div>
                <button name="setNameButton" type="submit" class="btn btn-primary">
                  Set Survey Session Name
                </button>
              </form>
              <p id="currentSession">Current Survey Session Name:  <%= surveyName %></p>
            </div>
          </div>
          <div id="rowThree" class="stepRow">
            <div class="stepBox">
              <p>Step</p>
              <p class="stepNumber">3</p>
            </div>
            <div class="instructionBox">
              <p>Give people time to complete the survey.  Four to five minutes should be sufficient.</p>
            </div>
          </div>
          <div id="rowFour" class="stepRow">
            <div class="stepBox">
              <p>Step</p>
              <p class="stepNumber">4</p>
            </div>
            <div class="instructionBox">
              <p>Click the below button to fetch the survey results, store them in the database, and render a histogram of this session's results.</p>
              <form name="getDataForm" method="get" action="/getdata">
                <button id="showDataButton" name="getDataButton" type="submit" class="btn btn-primary">
                  Show me the data!
                </button>
              </form>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <%- include( 'footer.ejs' ) %>
      </footer>
  </body>
</html>
