<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
<body>
  <%- include('../layout/header') %>

  <form class="loginForm" action="/login/session" method="post">
    <input class="loginInput" type="text" name="adminAPIkey" placeholder="Enter your JotForm API key" required>
    <button class="loginButton" type="submit">SUBMIT</button>
  </form>

  <%- include('../layout/footer') %>

</body>
</html>