<!DOCTYPE html>
<html lang="en">

<head>
  <title>Technology Survey Forms</title>
  <%- include( '../layout/head' ) %>
</head>

<body>
  <%- include( '../layout/header' ) %>
  <div id="surveyHeader">
      <h1>Technology Exposure and Perspective Survey</h1>
  </div>

  <main>
    <div id="mainSurveyArea">
      <div>
        <h2 class="surveyWelcome">Thank you for taking the time to complete this survey and discuss everyone's various
          access levels to technology.</h2>
      </div>
      <div id="surveybody">
        <!-- <iframe src="https://form.jotform.com/<%= id %>" style="width: 100%; height: 500px;" title= "Survey"></iframe> -->
        <% console.log(id) %>
      </div>
    </div>
  </main>
</body>

</html>