#staticBlackHeader {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6vw;
  padding: 2vw;
  position: sticky;
  top: 0;
}

#staticBlackHeader>img {
  height: 4vw;
}
