* {
  box-sizing: border-box;
  font-family: Gotham Rounded SSm A, Helvetica, sans-serif, serif;
}

p {
  font-family: Helvetica, sans-serif, serif;
}

#staticBlackHeader {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  position: fixed;
  width: 100%;
  margin-top: -75px;
}

#staticBlackHeader>div {
  width: 30px;
  height: 75px;
}

#staticBlackHeader>img {
  height: 25px;
  width: 125px;
  margin: 15px, 15px, 15px, 15px;
}

#redHeader {
  background-color:  #D03226;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

#redHeader>h2 {
  clear: both;
}

h1, h2 {
  margin-bottom: 10px;
  font-family: Helvetica, sans-serif, serif;
  color: white;
}

h2 {
  font-size: 1.3em;
}

h3 {
  margin-top: 20px;
  font-family: Helvetica, sans-serif, serif;
  text-align: center;
}

p {
  /* font-family: 'Piazzolla', serif; */
}

#surveyLinkContainer {
  text-align: center;
  margin-top: 10px;
  font-size: 0.8em;
}

body {
  background-color: rgb(153, 155, 157);
}

main {
  margin: 20px 40px 10px 40px;
  padding-top: 16px;
}

header, #showDataButton {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

header:first-child {
  /* clear: both; */
  margin-bottom: 20px;
  /* color: red; */

}

.instructionBox>a {
  padding-top: 80px;
}

.stepBox {
  display: flex;
  /* flex-direction: row-reverse; */
  flex-direction: row-reverse;
  flex-direction: row;

  justify-content: flex-end;
  align-items: flex-start;
  align-content: space-around;
  /* display: inline-block; */
  /* color: red;
  background-color: thistle; */
  /* border: 2px solid red; */
  padding-right: 10px;
}

.stepNumber {
  font-size: 5em;
}

.stepBox > p {
  /* border: 2px dashed orange; */
  display: inline-block;
  float: right;
}

a {
  text-align:center;
  justify-content: center;
  padding: 60px 10px 0px 10px;

}

h1 {
  font-size: 1.7em;
  margin: 15px, 15px, 50px, 15px;
}

h2 {
  margin: 50px, 15px, 50px, 15px;
}

div {
  /* border: green dashed 1px; */
}


.stepBox>p {
  font-style: italic;
}

.stepBox:last-child {
  font-size: 5em;
}

.stepRow {
  display: grid;
  grid-template-columns: 1fr 9fr;
  margin: 30px 30px 30px 30px;

}

.instructionBox {
  border: rgba(0, 0, 0, 0.55) 3px solid;
  border-radius: 5px;
  box-shadow: gray 20px;
  background-color: #82bbee;
  padding: 25px 25px 25px 25px;
  font-size: .9em;
}

form {
  padding: 10px 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-content: space-between;
}

#gap {
  width: 20px;
}

.rowTwo>.instructionBox>form>input {
  padding-right: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#rowTwo>.instructionBox>form {
  padding: 10px 10px 10px 10px;
}

#currentSession {
  font-style: italic;
  font-size: 0.8em;
  text-align: center;
}


/* #stepNumCol>div {
  display: flex;
}

#stepNumCol>div>p {
  float: right;
} */

p {
  line-height: 1.3em;
}

footer>div>p {
  text-align: center;
}

footer>div>p {
  font-size: .7em;
  color:black;
  text-decoration: none;
  margin: none;
}

/* this is not working */
footer>div>a {
  font-size: .7em;
  color:black;
  text-decoration: bold;
  margin: none;
}