main {
  /* margin: auto; */
  display: grid;
  grid-template-columns: .1fr .8fr .1fr;
}

#mainSurveyArea {
  grid-column-start: 2;
  grid-column-end: 3;
  
}

#mainSurveyArea>div>p {
  margin-bottom: 60px;
}

footer, #afterSurvey, .surveyWelcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.surveyWelcome {
  /* width:  */
}

#afterSurvey {
  height: 75px;
}

footer, footer>p {
  height: 50px;
  margin-top: 50px;
  background-color: gray;
}

footer>p {
  clear: both;
}