.login {
  background-color: #1D254F;
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  border: solid 2vh #f7af3c;
  border-radius: 10px;
  position: relative;
  margin: 5vh auto;
}

input#loginInput {
  align-items: center;
  background-color: whitesmoke;
  Width: 225px;
  text-align: center;
  border-radius: 10px;
}
button#loginButton {
  background-color: #f7af3c;
  color: #1C3128;
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
}

.loginForm {
  position: absolute;
  top: 49%;
}