afterSurvey {
  padding: 40px 40px 40px 40px;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  height: 80px;
}

#staticBlackHeader {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;

}

#staticBlackHeader>div {
  width: 30px;
  height: 75px;
}

#staticBlackHeader>img {
  height: 25px;
  width: 125px;
  margin: 15px, 15px, 15px, 15px;
}

#redHeader {
  background-color:  #D03226;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#redHeader>h2 {
  clear: both;
}


/* Formatting for results history */



p {
  font-family: Helvetica, sans-serif, serif;
  line-height: 1.3em;

}

.dataSummary>p {
  font-family: Helvetica, sans-serif, serif;
  line-height: 1.3em;
  margin: 10px, 10px, 10px, 10px;
  font-size: .7em;
}

#staticBlackHeader {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;

}

#staticBlackHeader>div {
  width: 30px;
  height: 75px;
}

#staticBlackHeader>img {
  height: 25px;
  width: 125px;
  margin: 15px, 15px, 15px, 15px;
}

#redHeader {
  background-color:  #D03226;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#redHeader>h2 {
  clear: both;
}

h1, h2 {
  margin-bottom: 10px;
  font-family: Helvetica, sans-serif, serif;
  color: white;
}

h2 {
  font-size: 1.3em;
}

h3 {
  margin-top: 20px;
  font-family: Helvetica, sans-serif, serif;
  text-align: center;
}

body {
  background-color: rgb(153, 155, 157);
}

main {
  margin: 20px 40px 10px 40px;
  padding-top: 16px;
}


.resultBox {
  display: flex;
  flex-direction: row-reverse;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: space-around;
  padding-right: 10px;
}

.resultNumber {
  font-size: 2.5em;
}

.resultBox > p {
  display: inline-block;
  float: right;
}

h5 {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 1.7em;
  margin: 15px, 15px, 50px, 15px;
}

h2 {
  margin: 50px, 15px, 50px, 15px;
}

.resultBox>p {
  font-style: italic;
}

.resultBox:last-child {
  font-size: 5em;
}

.resultRow {
  display: grid;
  grid-template-columns: 1fr 9fr;
  margin: 30px 30px 30px 30px;

}

.resultSummary {
  border: rgba(0, 0, 0, 0.55) 3px solid;
  border-radius: 5px;
  box-shadow: gray 20px;
  background-color: rgb(184, 218, 221);
  padding: 25px 25px 25px 25px;
  
}

form {
  padding: 10px 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-content: space-between;
}

p {
  line-height: 1.3em;
}
