afterSurvey {
  padding: 40px 40px 40px 40px;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  height: 80px;
}

#staticBlackHeader {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;

}

#staticBlackHeader>div {
  width: 30px;
  height: 75px;
}

#staticBlackHeader>img {
  height: 25px;
  width: 125px;
  margin: 15px, 15px, 15px, 15px;
}

#redHeader {
  background-color:  #D03226;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#redHeader>h2 {
  clear: both;
}

button {
  color: #fff;
  background: #cc3524;
  border: 0;
  border-radius: 30px;
  padding: 0.8em 1.3em;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}