<section class='navlinks'>
  <form class="adminRout" method="get" action="/">
    <button  type="submit">Admin Page</button>
  </form>
  <p>Created by Team Will Ring Your Bell for Codefellows</p>
</section>