<footer>
  <section id='navlinks'>
    <a class='navlinks' href="/">Admin</a>
    <a class='navlinks' href="/survey">Survey</a>
    <a class='navlinks' href="/graph">Results</a>
    <a class='navlinks' href="/history">History</a>
    <p>Created by Team Blue Java for Codefellows</p>
</footer>
  
  